// Image file paths
$bg-1: url("../media/images/parallax/bg-1.jpg");
$bg-2: url("../media/images/parallax/bg-2.jpg");
$bg-3: url("../media/images/parallax/bg-3.jpg");

// Fonts
$cursive: 'Dancing Script', cursive;
$sans-serif: 'Raleway', sans-serif;

// Colors
$light-black: #2A2F32;
$purple: #B271AB;

// Bootstrap breakpoints
$bootstrap-sm: 768px;
$bootstrap-md: 992px;
$bootstrap-lg: 1200px;

// Global variables
$opacity: 0.8;
