#footer {
  color: #fff;
  border-top: 1px solid #fff;
  .me-links {
    padding-top: 10px;
  }
}

#footer-copyright {
  padding: 10px 0;
  span {
    background: $light-black;
    padding: 4px 10px;
  }
}
